<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="datainfosys.leantestingdemo">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:name=".LeanTesting"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BugActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".Bug2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".CreateBugActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />
    </application>

</manifest>